.nav-container-8 {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 3px 3px;
    min-width: 780px;
    border-radius: 10px;
    margin: 0 auto;
    width: fit-content;
    position: relative;
    padding-bottom: 20px;
}

.nav-container-8 .nav-list-8 {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    background-color: #eff3f9;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 10px 10px 0 0;
}

.nav-list-8 .nav-item {
    padding: 10px 22px;
    font-size: 14px;
    font-weight: 500;
    color: #5f6368;
    cursor: pointer;
    z-index: 2;
    transition: color 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.glider-8 {
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0; 
    z-index: 1;
    transition: 0.2s 0.1s ease;
    box-shadow: 2px -2px 10px rgba(171, 171, 171, 0.152),
                -2px -2px 10px rgba(171, 171, 171, 0.152);
}

.hide-shadow {
    width: 100%;
    position: absolute;
    height: 20px;
    bottom: -20px;
    border-radius: 0 0 20px 20px;
    background-color: #ffffff;
    z-index: 100;
}

.hd8{
    display: none;
}

#tab8-1:checked ~ .nav-list-8 .glider-8 { 
    width: 80px; 
    transform: translateX(9px); 
}
#tab8-2:checked ~ .nav-list-8 .glider-8 { 
    width: 105px; 
    transform: translateX(98px); 
}
#tab8-3:checked ~ .nav-list-8 .glider-8 { 
    width: 126px;
    transform: translateX(220px); 
}
#tab8-4:checked ~ .nav-list-8 .glider-8 { 
    width: 116px; 
    transform: translateX(355px); 
}
#tab8-5:checked ~ .nav-list-8 .glider-8 { 
    width: 124px;
    transform: translateX(485px); 
}
#tab8-6:checked ~ .nav-list-8 .glider-8 { 
    width: 144px;
    transform: translateX(628px); 
}

#tab8-1:checked ~ .nav-list-8 label[for="tab8-1"],
#tab8-2:checked ~ .nav-list-8 label[for="tab8-2"],
#tab8-3:checked ~ .nav-list-8 label[for="tab8-3"],
#tab8-4:checked ~ .nav-list-8 label[for="tab8-4"],
#tab8-5:checked ~ .nav-list-8 label[for="tab8-5"],
#tab8-6:checked ~ .nav-list-8 label[for="tab8-6"] 
{
    color: var(--main-text);
}

#tab8-1:checked ~ .nav-list-8 label[for="tab8-1"] .icon,
#tab8-2:checked ~ .nav-list-8 label[for="tab8-2"] .icon,
#tab8-3:checked ~ .nav-list-8 label[for="tab8-3"] .icon,
#tab8-4:checked ~ .nav-list-8 label[for="tab8-4"] .icon,
#tab8-5:checked ~ .nav-list-8 label[for="tab8-5"] .icon,
#tab8-6:checked ~ .nav-list-8 label[for="tab8-6"] .icon 
{
    background-color: var(--main-text);
}